<%- include('partials/header'); -%>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=postsTitle%></li>
  </ol>
</nav>

<h1><%=postsTitle%></h1>
<p>
	<%=postBody%>
</p>

<%- include('partials/footer'); -%>